
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}


/*----------------comienza header*/
.contenedor-header1{
    align-items: center;
    background: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 18px;
    justify-content: space-between ;
    width: 1014px;
    padding: 5PX;
}

H5{
    color: white;
}

.contenedor-header2{
    align-items: center;
    background: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 64px;
    justify-content: space-between;
    width: 1024px;
}

H3{
    color: white;
}

#lista-nav li{
    display: inline;
    text-decoration: none;
}

/*----------------comienza Body section*/

.contenedor-body1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 1;
    

}

.contenedor-body2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: -280px;
    left: 650px;
    z-index: 2;

}

.contenedor3-body-boton{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: -280px;
    left: 750px;
    z-index: 2;

}

/*----------------comienza Body article*/

.contenedor-body4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -140px;
    left: 480px;
}

.contenedor-body4b{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: 80px;
    left: -240px;
}

.contenedor-body4c{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: 30px;
    left: -360px;
}

#lista-headArt li{
    display: inline;
    ;

}


.contenedor-body5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -60px;
    left: 390px;
}
.contenedor-body6{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -99px;
    left: 495px;
}

.contenedor-body7{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -127px;
    left: 600px;
}

.contenedor-body8{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -40px;
    left: 100px;
}

.contenedor-body9{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -365px;
    left: 390px;
}
.contenedor-body10{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -690px;
    left: 680px;

}
/*----------------comienza Body form1*/
.contenedor-form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -650px;
    left: 350px;
}

/*----------------comienza footer*/
.cont-naranja{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -605px;
    left: -4px;
}

.cont-marron{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -1070px;
    left: -4px;
}

.cont-negro{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 5PX;
    top: -1885px;
    left: -4px;
}



.img-logofoo{
    display: absolute;
    position: relative;
    width: 300px;
    height: 400px;
    top: -1640px;
    left: 770px;
    z-index: 3;
}


.contenedor-flex{

    display: flex;
    font-size:medium;
    font-style: white;
    position: relative;
    top: -670px;
    height: 50px;
    right: -10px;
    z-index: 1;
   

}

.contenedor-flex1{
    display: absolute;
    position: relative;
    width: 300px;
    height: 400px;
    top: -715px;
    left: 680px;
    z-index: 4;

}


.contenedor-flex-foot3{

    display: absolute;
    position: relative;
    width: 300px;
    height: 400px;
    top: -1320px;
    left: 30px;

    z-index: 2;

}